@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-conatiner: 100px 0;
    --color-title: #001A49;
}

body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-conatiner);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px; 
    position: absolute;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: white;
    
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100% ), url('../images/contact.jpeg');
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    z-index: -1;
    

}

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__yepes{
    height: 80px;
    
}

.nav__title{
    width: 100%;
    text-align: center;
    font-weight: 300;
    
}

.nav__items{
    width: 100%;
    text-align: start;
    list-style: none;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__links{
    color: white;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

.hero__container{
    max-width: 800px;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-top: 0px;
    padding-bottom: 100px;
    text-align: center;
}



.form{
    background-color: rgb(200, 200, 236) ;
    width: 500px;
    margin: auto;
    margin-top: 600px;
    max-width: 500px;
    margin-left: 100px;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    padding: 8.5em 3.5em;
}

.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: 100%;
}

.form__title{
    color: black;
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}

.form__input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -ms-border-radius: 0.2em;
    -o-border-radius: 0.2em;
}


textarea {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 1.5em;
    outline: none;
}

.form__cta{
    font-family: inherit;
    font-size: 1rem;
    background-color: rgb(163, 163, 197);
    color: #fff;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    -ms-border-radius: .2em;
    -o-border-radius: .2em;
    cursor: pointer;
    font-weight: 500;
}

@media (max-width:450px) {
    .form{
        padding: 4.5em 2em;
    }
}